
{% extends 'base.html.twig' %}

{% block title %}Voyage index{% endblock %}

{% block body %}
    <h1>Tableau de bord des voyages</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Pays</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for av_voyage in av_voyages %}
            <tr>
                <td>{{ av_voyage.nom }}</td>
                <td>{{ av_voyage.AvPays.nom }}</td>
                <td>{{ av_voyage.description }}</td>
                <td>{{ av_voyage.prix }}</td>
                <td>{{ av_voyage.debut ? av_voyage.debut|date('Y-m-d') : '' }}</td>
                <td>{{ av_voyage.fin ? av_voyage.fin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_voyage_show', {'id': av_voyage.id}) }}" class="btn btn-success">Voir</a>
                    <a href="{{ path('app_voyage_edit', {'id': av_voyage.id}) }}" class="btn btn-warning">Editer</a>
                    <a href="{{ path('app_voyage_delete', {'id': av_voyage.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune information trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voyage_new') }}">Créer un nouveau voyage</a>
{% endblock %}
