{% extends 'base.html.twig' %}

{% block title %}AvVoyage{% endblock %}

{% block body %}
    <h1>AvVoyage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ av_voyage.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ av_voyage.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ av_voyage.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ av_voyage.prix }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ av_voyage.debut ? av_voyage.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ av_voyage.fin ? av_voyage.fin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_voyage_index') }}">back to list</a>

    <a href="{{ path('app_voyage_edit', {'id': av_voyage.id}) }}">edit</a>

    {{ include('av_voyage/_delete_form.html.twig') }}
{% endblock %}
