{% extends 'base.html.twig' %}

{% block title %}Fiche d'information{% endblock %}

{% block body %}
    <h1>Récapitulatif</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ av_voyage.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ av_voyage.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ av_voyage.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ av_voyage.prix }}</td>
            </tr>
            <tr>
                <th>Début</th>
                <td>{{ av_voyage.debut ? av_voyage.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ av_voyage.fin ? av_voyage.fin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('app_voyage_edit', {'id': av_voyage.id}) }}" class="btn btn-warning mb-2">Modifier</a>

    {{ include('av_voyage/_delete_form.html.twig') }}

    <a href="{{ path('app_voyage_index') }}">retour à l'index</a>
{% endblock %}
