{% extends 'base.html.twig' %}

{% block title %}AvImage index{% endblock %}

{% block body %}
    <h1>Gestion des images</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for av_image in av_images %}
            <tr>
                <td>{{ av_image.id }}</td>
                <td>{{ av_image.nom }}</td>
                <td>
                    <a href="{{ path('app_av_image_show', {'id': av_image.id}) }}" class="btn btn-success">Voir</a>
                    <a href="{{ path('app_av_image_edit', {'id': av_image.id}) }}" class="btn btn-warning">Modifier</a>
                    <a href="{{ path('app_av_image_delete', {'id': av_image.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_av_image_new') }}">Ajouter une nouvelle image</a>
{% endblock %}
