{% extends 'base.html.twig' %}

{% block title %}AvImage{% endblock %}

{% block body %}
    <h1>Ensemble des images</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ av_image.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ av_image.url }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_av_image_edit', {'id': av_image.id}) }}" class= 'btn btn-warning mb-2'>Modifier</a>

    {{ include('av_image/_delete_form.html.twig') }}

    <a href="{{ path('app_av_image_index') }}">retour à la liste</a>
{% endblock %}
